<template id="messageTemplate">
    <div id="item">
        <div class="text-info small">
            <strong>Login</strong>
            <span class="float-right text-muted">2021-04-17</span>
        </div>
        <div name="message">Wiadomosc</div>
    </div>
    <br />
</template>
