@page
@model ChatModel

<div>
    <h2>Chat</h2>
    <input name="newMessage" id="messageInput" class="form-control"
           autocomplete="off"
           autofocus
           onkeydown="sendNewMessage(event)"
           placeholder="Wpisz wiadomosc" />
    <hr />
    <div id="messages"></div>
    <partial name="_ItemTemplate" />
</div>
@section Scripts {
    <script>
        buildConnection('@Model.stringApiBaseUrl')
    </script>
}
