@model Price

<h2>Dodaj nowa cene</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="PriceValue"></label>
                <input asp-for="PriceValue" class="form-control"/>
                <span asp-validation-for="PriceValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency"></label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="OK" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>